@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply p-4
    }

    button {
        @apply text-white border-2 bg-primary hover:bg-transparent hover:text-primary hover:border-primary rounded-3xl
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .line-break {
        white-space: pre-wrap;
    }
}